.footer_main {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    a {

        text-decoration: none;

        img {

            &:nth-child(1) {
                margin-right: 20px;
            }

            &:nth-child(2) {
                margin-left: 20px;
            }

        }

        span {
            font-size: 12pt;
            color: $article-footer-link-color;
        }
    }
}




.footer_under_main {

    width: 100%;

    .clients__block {

        border-top: 1px solid $border-bottom-color;
        margin: 0 auto;
        height: 93px;
        width: 979px;
        display: flex;
        justify-content: space-around;
        align-items: center;


        h3 {
            color: $footer-title-color;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.12px;
        }
    }
}
.footer__container {
    background-color: $footer-background;
    box-shadow: 0 0 5px 0 $footer-shadow-color inset;
    min-width: 979px;
    padding-top: 24px;
    box-sizing: border-box;

    .footer__items {
        // background-color: $footer-background;
        width: 979px;
        // height: 174px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
        color: $footer-text-color;

        .block {
            
            display: flex;
            flex-direction: column;
            padding-bottom: 0px;
            margin-right: 75px;

            &:nth-child(3) {
                margin-right: 0;
            }

            h5 {
                margin-bottom: 24px;
                font-size: 15px;
                opacity: 0.3;
                margin-top: 0;
            }

            div {

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-right: 75px;
                    list-style: none;
                    padding-left: 0;
                    margin-top: 0;
                    margin-bottom: 0;

                    li {
                        margin-bottom: 10px;
                        padding: 0;
                        line-height: 13px;

                        a {
                            color: $footer-text-color;
                            font-size: 12px;
                            text-decoration: none;
                            opacity: 0.3;
                        }
                    }
                }
            }

            .footer__socials {

                margin-bottom: 24px;

                .sprite {
                    background-image: url(../img/spritesheet.png);
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                    display: block;
                    margin-right: 6px;
                }
                
                .sprite-facebook {
                    background-position: -5px -5px;

                    &:hover {
                        background-position: -39px -5px;
                    }
                }

                .sprite-facebook--active {
                    background-position: -39px -5px;
                }
                
                .sprite-linkedin {
                    background-position: -5px -39px;

                    &:hover {
                        background-position: -39px -39px;
                    }
                }
                
                .sprite-rss {
                    background-position: -73px -5px;

                    &:hover {
                        background-position: -73px -39px;
                    }
                }
                
                .sprite-twitter {
                    background-position: -5px -73px;

                    &:hover {
                        background-position: -39px -73px;
                    }
                }
                
            }

            span {
                opacity: 0.3;
                font-size: 11px;
            }
        }
    }
}
