
$header-banner-line-color: #212121;


$aside-nav-title-color: #212121;
$aside-nav-item-color: #212121;
$aside-nav-item--background: hsl(0, 0%, 100%);
$aside-nav-item-active-background: #ae3b44;
$aside-nav-item-active-color: #ae3b44;
$aside-nav-item-border-color: #e6e6e7;
$aside-nav-arrow-color: #929495;
$aside-nav-link--inside-background: #f4f7f8;
$aside-nav-link--inside-second-background: #eaeaea;


$section-title-color: #212121;
$section-date-color: #bebebf;
$border-bottom-color: #bebebf;
$article-overwiev-color: #929495;
$article-part-title: #ae3b44;
$article-image-caption: #aeaeae;
$article-footer-link-color: #ae3b44;


//FOOTER
$footer-text-color: #3c3c3c;
$footer-title-color: #212121;
$footer-background: #f8f8f8;
$footer-shadow-color: #dcdcdc;